.table-border
{
    border: 4px solid #E9ECEF;
   
}

.border-rad-tab
{
    border: 2px solid lightgray;
    border-radius: 10px !important;
}

.color-text-gray
{
    color: gray;
}

.button-meeting-color
{
    color: #B6F2E1;
    border: 2px solid #B6F2E1;
    background-color: white;
}